<body>
<h1 class="title"><b>Nuestros Precios</b></h1>

<div class="container" fxLayout="row wrap" fxLayoutAlign="start center">
  <mat-card class="section" fxFlex="100%" fxFlex.gt-md="calc(33.33% - 20px)">
    <h2>Plan Básico</h2>
    <p class="price">$19.99</p>
    <ul>
      <li> - Gestión completa del inventario</li>
      <li> - Soporte técnico disponible</li>
      <li> - Gestion de Ventas</li>
    </ul>
    <button mat-raised-button color="primary" class="demo-btn">Solicitar</button>
  </mat-card>

  <mat-card class="section" fxFlex="100%" fxFlex.gt-md="calc(33.33% - 20px)">
    <h2>Plan Plus</h2>
    <p class="price">$29.99</p>
    <ul>
      <li> - Acceso a las analíticas avanzadas</li>
      <li> - Alertas para recibir información en tiempo real</li>
      <li> - Integración con otros sistemas de gestión</li>
    </ul>
    <button mat-raised-button color="primary" class="demo-btn">Solicitar</button>
  </mat-card>

  <mat-card class="section" fxFlex="100%" fxFlex.gt-md="calc(33.33% - 20px)">
    <h2>Plan Premium</h2>
    <p class="price">Personalizado</p>
    <ul>
      <li> - Seguimiento de múltiples ubicaciones</li>
      <li> - Acceso a múltiples usuarios con diferentes roles</li>
      <li> - Soporte dedicado y personalizado</li>
      <li> - Proveedores de Productos</li>
    </ul>
    <button mat-raised-button color="primary" class="demo-btn">Solicitar</button>
  </mat-card>
</div>

</body>
