<body>
<div class="container">
  <h2>Nuestros Beneficios</h2>
  <div class="grid">
    <div class="grid-item">
      <img src="assets/imagen1.jpg" alt="Imagen 1">
      <div class="content">
        <h3>Mejora en la atención al cliente:</h3>
        <p>VitalCheck ofrece un servicio rápido y eficiente para atender las necesidades de los clientes.</p>
      </div>
    </div>
    <div class="grid-item">
      <img src="assets/imagen2.png" alt="Imagen 2">
      <div class="content">
        <h3>Control de inventario en tiempo real:</h3>
        <p>VitalCheck permite a las farmacias tener un registro actualizado de su inventario y su stock.</p>
      </div>
    </div>
    <div class="grid-item">
      <img src="assets/imagen3.png" alt="Imagen 3">
      <div class="content">
        <h3>Reportes y alertas:</h3>
        <p>Nuestra aplicación proporciona informes detallados y alertas sobre el historial de ventas, ingresos y stock sobrante.</p>
      </div>
    </div>
    <div class="grid-item">
      <img src="assets/imagen4.png" alt="Imagen 4">
      <div class="content">
        <h3>Ahorro de tiempo y eficiencia:</h3>
        <p>VitalCheck automatiza tareas y procesos, lo que permite a las farmacias ahorrar tiempo y aumentar su eficiencia.</p>
      </div>
    </div>
  </div>
</div>
</body>
