<body>
<div class="container" fxLayout="row" fxLayout.lt-md="column">
  <div class="column" fxFlex.gt-sm="30%" fxFlex.lt-sm="100%">
    <img id='descripcion1' src="assets/Descripcion1.jpg" alt="Imagen 1" class="image">
  </div>
  <div class="column" fxFlex.gt-sm="40%" fxFlex.lt-sm="100%">
    <img id='logo' src="assets/logo.png" alt="Imagen 2" class="image">
    <p> "VitalCheck" es un startup enfocado en farmacias que ofrece una aplicación web con un sistema completo para registrar ventas a clientes, compras a proveedores e inventario. La plataforma proporciona un registro actualizado de las ventas y el inventario, así como alertas y reportes sobre el historial de ventas, ingresos netos, stock sobrante, clientes recurrentes y ventas en provincias. Esto permite a los propietarios de farmacias tener un mayor control y tomar decisiones más informadas sobre su negocio gracias a la información proporcionada por el sistema.</p>
    <div class="inferior">
      <button onclick="window.location.href='https://www.google.com'" class="contactanos">INICIAR</button>
    </div>
  </div>
  <div class="column" fxFlex.gt-sm="30%" fxFlex.lt-sm="100%">
    <img id='descripcion2' src="assets/logo_fondo.png" alt="Imagen 3" class="image">
  </div>
</div>
</body>

